<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShadowCore</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>ShadowCore</h1>
        <form action="/search" method="post">
            <input type="text" name="query" placeholder="Cari IP, judul halaman, atau port..." required>
            <button type="submit">Cari</button>
        </form>
    </div>
</body>
</html>